<div class="bg-white p-4 w-100 rounded-3">
    <p class="w-100 text-end "><i (click)="dialogRef.close()" class="fas fa-close fs-3 cursor-pointer"></i></p>
    <h1 class="text-center mb-5">Update You Password</h1>
    <form class="mt-3" [formGroup]="frmgrp" (ngSubmit)="handleForm()">
        <div>
            <p-floatLabel>
                <p-password formControlName="passwordCurrant" [feedback]="false" toggleMask="true"/>
                <label for="password">Current Password</label>
            </p-floatLabel>
        </div>
        <div class="mt-5">
            <p-floatLabel>
                <p-password formControlName="password" [feedback]="false" toggleMask="true"/>
                <label for="password">New Password</label>
            </p-floatLabel>
        </div>
        <div class="mt-5">
            <p-floatLabel>
                <p-password formControlName="passwordConfirm" [feedback]="false" toggleMask="true"/>
                <label for="password">Confirm Password</label>
            </p-floatLabel>
        </div>
        <button  class="btn btn-primary px-3 mt-4 d-block mx-auto">Change Password </button>
    </form>
</div>